<ol class="breadcrumb my-5 ms-3">
    {{#each breadcrumb}}
    <li class="breadcrumb-item text-nowrap">
        {{#if @last}}
        <a href="{{url}}" class="nav-link disabled">{{name}}</a>
        {{else}}
        <a href="{{url}}">{{name}}</a>
        {{/if}}
    </li>
    {{/each}}
</ol>